# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=crma42

# Auth
JWT_SECRET=jldsFko4j2OQ01!

# App URLs
NEXT_PUBLIC_API_URL=http://localhost:3000

# LINE (optional)
NEXT_PUBLIC_LINE_CHANNEL_ID=
LINE_CHANNEL_SECRET=
